*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GangwonEdu";
}
.join_content{
    margin-left: 43%;
}
h1{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30pt;
}
h3{
    margin-top: 20px;
    font-size: 15pt;
}
input{
    margin-top: 2px;
    width: 200px;
    height: 30px;
    font-size: 15pt;
}
button{
    width: 100px;
    height: 40px;
    background-color:#D2EEFA;
    border: 0px;
    border-radius: 8px;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
}
.join{
    margin-top: 20px;
    text-align: center;
}
#check{
    width: 15px;
    height: 13px;
}
@font-face {
    font-family: "GangwonEdu";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
.id_ok{
color:#008000;
display: none;
}

.id_already{
color:#6A82FB; 
display: none;
}