*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GangwonEdu";
}
@font-face {
    font-family: "GangwonEdu";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
.text{
    margin-top: 15%;
    margin-bottom: 2%;
    text-align: center;
}
h3{
    margin-top: 1%;
}
.find{
    text-align: center;
}
input{
    margin-bottom: 1%;
    width: 300px;
    height: 50px;
    font-size: 15pt;
}
button{
    margin-top: 2%;
    width: 150px;
    height: 50px;
    background-color:#D2EEFA;
    border: 0px;
    border-radius: 8px;
    font-size: 15pt;
    text-align: center;
    cursor: pointer;
} 
.button{
    text-align: center;
}