@CHARSET "UTF-8";

<!--KAKAO MAP CSS 시작 --!>
.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}
.map_wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
#category {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 5px;
	border: 1px solid #909090;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	background: #fff;
	overflow: hidden;
	z-index: 2;
	padding: 0px;
}
#category li {
	float: left;
	list-style: none;
	width: 50px; px;
	border-right: 1px solid #acacac;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
}
#category li.on {
	background: #eee;
}
#category li:hover {
	background: #ffe6e6;
	border-left: 1px solid #acacac;
	margin-left: -1px;
}
#category li:last-child {
	margin-right: 0;
	border-right: 0;
}
#category li span {
	display: block;
	margin: 0 auto 3px;
	width: 27px;
	height: 28px;
}

#category li .category_bg {
	background:
		url(/resources/images/spriteicon.png)
		no-repeat;
}
#category li .hotel {
	background-position: -7px 3px;
}
#category li .tour {
	background-position: -7px -33px;
}
#category li .restaurant {
	background-position: -7px -69px;
}
#category li .oil {
	background-position: -7px -105px;
}
#category li .cafe {
	background-position: -7px -141px;
}
#category li .mart {
	background-position: -7px -177px;
}
#category li.on .category_bg {
	background-position-x: -43px;
}
.placeinfo_wrap {
	position: absolute;
	bottom: 28px;
	left: -150px;
	width: 300px;
}
.placeinfo {
	position: relative;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	background: #fff;
}
.placeinfo:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}
.placeinfo_wrap .after {
	content: '';
	position: relative;
	margin-left: 0px;
	left: 50%;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active {
	color: #fff;
	text-decoration: none;
}
.placeinfo a, .placeinfo span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.placeinfo span {
	margin: 5px 5px 0 5px;
	cursor: default;
	font-size: 13px;
}
.placeinfo .title {
	font-weight: bold;
	font-size: 14px;
	border-radius: 6px 6px 0 0;
	margin: -1px -1px 0 -1px;
	padding: 10px;
	color: #fff;
	background: #d95050;
	background: #d95050
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
		no-repeat right 14px center;
}
.placeinfo .tel {
	color: #0f7833;
}
.placeinfo .jibun {
	color: #999;
	font-size: 11px;
	margin-top: 0;
}
img[alt="close"] {
	width:28px;
	height:28px;
}
#scheduleMarker-toggle{
	z-index: 5;
	position:absolute;
	top:25px;
	right:25px;
	border-radius:75px;
	width:65px;
	height:50px;
	white-space : pre;
	border:2px solid white;
	color:black;
	box-shadow: 1px 1px 2px black;
}

<!--KAKAO MAP CSS 끝 -->
html{
	height: 100%;
}
a{
	color:#F6BB43;
}
a:hover{
	color:#ef8c14;	
}
#body {
	overflow-y: hidden;
}
#body #header{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
}
#main{
	position: relative;
	margin-top: 70px;
}
.map-area {
	text-align: center;
}
.row {
	width: 100%;
	margin: 0px;
}
.col-8, .map-area{
	padding:0px;
}
.col-4, .plan-area{
	padding-right:0px;
}
.form-group, .col-sm-12{
	margin-top: 10px;
}
.startTime{
	display : inline;
}
.card{
	margin-top: 5px;
}
/* btn-primary 색깔 바꾸기 css */
.btn-primary {
	background-color: #D2EEFA !important;
	border-color: #D2EEFA !important;
	color: #000 !important;
	font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus {
	border-color: #FFF;
	background-color: #FFF;
	/* color: #000;  */
}
.btn-primary:active, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:active:hover {
	border-color: #D2EEFA;
	background-color: #D2EEFA;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    border-color: #D2EEFA;
	background-color: #D2EEFA;
}
#method_type{
	text-decoration-color: #D2EEFA;
}
.dropdown-item{
	padding: 2px 0px 2px 0px;
}
#planFrmSubmit{
    margin-top: 24px;
    width: 100px;
}
#planAddBtn{
	float: right;
    margin-right: 12px;
    width: 100px;
    position: relative;
    top: 50px	
}